<footer class="text-center bg-body-tertiary mt-5">
    <div class="container pt-4">
      <section class="mb-4">
        <a href="#!" role="button" class="btn btn-link btn-floating btn-lg text-body m-1"> <fa-icon [icon]="faFacebook"></fa-icon></a>
        <a href="#!" role="button" class="btn btn-link btn-floating btn-lg text-body m-1"><fa-icon [icon]="faTwitter"></fa-icon></a>
        <a href="#!" role="button" class="btn btn-link btn-floating btn-lg text-body m-1"><fa-icon [icon]="faGoogle"></fa-icon></a>
        <a href="#!" role="button" class="btn btn-link btn-floating btn-lg text-body m-1"><fa-icon [icon]="faInstagram"></fa-icon></a>
        <a href="#!" role="button" class="btn btn-link btn-floating btn-lg text-body m-1"><fa-icon [icon]="faLinkedin"></fa-icon></a>
        <a href="#!" role="button" class="btn btn-link btn-floating btn-lg text-body m-1"><fa-icon [icon]="faGithub"></fa-icon></a>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a href="#" class="text-body">GlobalNwes.com</a>
    </div>
  </footer>
  